/************************Padrões Gerais da Pagina ***********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .topo { grid-area: nav; }
.corpo { grid-area: main; }
.rodape { grid-area: footer; }

.layout{
    display: grid;
    grid-template-areas:
    'nav nav nav nav'
    'main main main main'
    'footer footer footer footer';
    background-color: #ffffff;
    /* overflow-x: hidden; */
}

nav{
    width: 100vw;
    height: 8vh;
    background: #d2d2d2;
    box-shadow: 0px 1px 10px #303030;
    
}
main{
    width: 100vw;   
    background: linear-gradient(1deg,#fff, #8dbef2);
}
footer{
    width:100vw;
    height: 12vh;
}
/****************************************************************/

/************************Menu************************************/
@keyframes background-Fundo{
	0%{background-color: #ffffff;}
	50%{background-color: #161616;}
	100%{background-color: #ffffff;}	
}

#logo{
    color: rgb(3, 59, 149);
	font-family: 'Silkscreen', cursive;
	font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    animation: background-Fundo 5s infinite;
    border-radius: 50px;
    box-shadow: 0px 0px 10px black;
    cursor: default;
}

.topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    cursor: default;
}

.glow{
    user-select: none;
}

.btnElinksMenu{
    display: flex;
    width: 30%;
    background: linear-gradient(1deg,#fff, #8dbef2);
    box-shadow: 0px 0px 5px black, 0px 0px 10px rgb(0, 251, 251) ;
    justify-content: space-evenly;
    border-radius: 20px;
}
.nome{
    color: #303030;
}

.menuIcon{
    cursor: pointer;
    text-transform: uppercase;
    padding-top: 2px;
    font-weight: bold;
    background: #8dbef2;
    height: 80%;
    margin-top: 2px;
    padding: 2px;
    font-size: 1.3rem;
    box-shadow: 0px 0px 5px black, 0px 0px 5px rgb(0, 251, 251) ;
    
}

.menuIcon:hover{
    box-shadow: 0px 0px 10px #8dbef2;
    transition: .3s;
}

.menuDropdown.ativo{
    opacity: 1;
    visibility: visible;
}

.menuDropdown{
    position: absolute;
    top: 80px;
    right: 17%;
    width:110px;
    min-height: 40px;
    padding: 10px 10px 4px 10px;
    background: linear-gradient(-10deg,#fdfdfd, #59a7fb);
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.menuDropdown::before{
    content: "";
    position: absolute;
    top: -9px;
    right: 27px;
    width: 18px;
    height: 18px;
    background: linear-gradient(70deg,#fdfdfd, #59a7fb);
    transform: rotate(45deg);
}

.menuDropdown ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.menuDropdown ul li{
    padding-bottom:10px;
}

.menuDropdown ul li:hover{
    text-decoration: underline;
    color: #031f99;
}

.menuDropdown ul li a{
    text-decoration: none;
    color: #031f99;
    display: flex;
    align-items: center;
    gap: 10px;
}



/****************************************************************/

/***************************Corpo********************************/
.textoTopo{
	display: flex;
	flex-direction: column;
    align-items: center;	
    padding-top: 50px;
    padding-bottom: 50px;
    color:  #232323;
	margin: auto;
}

#imgEu{
    width: 300px;
    border-radius: 35px;
    box-shadow: 0px 0px 10px rgb(51, 51, 51);
}

.containerSobre{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.txtApresentacao{
    width: 50vw;
}

.txtApresentacao h2{
    color: #232323;
    margin-bottom: 5px;
}

.txtApresentacao p{
    color:  #232323;
    text-shadow: 0px 0px 40px black;
    font-style: oblique;
    text-align: justify;
    line-height: 20px;
    
}
/***************************************************************/

/*************************Rodape********************************/

.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #d2d2d2;
    box-shadow: 0px 1px 10px #303030;
    margin-top: 50px;
}

.rodapeRedessociais{
    display: flex;  
}

.redesSociais a{
    margin-left: 5px;
}

.redesSociais a i{
    color: #034b99;
}

.RodapenomeFinal{
    margin-top: 10px;
    font-weight: 600;
}
